* {
  box-sizing: border-box;
}
:root {
  --color-net: #1ebfc1;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/*============== common =============== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}
.desc {
  color: #767e7e;
  font-size: 1.8rem;
}
.heading-lv1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}
.heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
}
.buttons {
  width: 186px;
  line-height: 68px;
  border: none;
  border-radius: 14px;
  background: var(--color-net);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.buttons:hover {
  /* cursor: pointer; không cần trong thẻ a*/
  opacity: 0.9; /* độ mờ */
}
/*============== head =============== */
.header {
  background-color: #fff;
}
.header.fixed {
  position: sticky;
  top: -44px;
  z-index: 1;
}

.header .body {
  padding: 52px 0 8px;
  display: flex;
  align-items: center;
}
.header .logo {
  width: 127px;
  height: 37px;
  object-fit: cover;
}
.header .nav {
  margin-left: auto;
}
.header .nav ul {
  display: flex;
}
.header .nav a {
  display: flex;
  align-items: center;
  color: #2f3a3b;
  padding: 8px 19.5px;
}

.header .btn-link {
  margin-left: 177.5px;
  color: #494949;
  text-align: center;
}
.header .btn-link:hover,
.nav .active :hover {
  color: #494949;
  text-align: center;
  text-shadow: 1px 0 black;
}
.header .btn-dn {
  min-width: 108px;
  line-height: 46px;
  padding: 12px 24px;
  color: cyan;
  margin-left: 24px;
  border-radius: 6px;
  border: 1px solid var(--color-net);
  color: var(--color-net);
  font-weight: 600;
  text-align: center;
}

.btns .btn-dn:hover {
  background-color: var(--color-net);
  color: white;
  transition: 0.3s;
}
/*============== hero ================ */
.hero .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0 79px;
}

.hero .body .desc.title {
  color: #767e7e;
  font-size: 1.4rem;
}
.hero .heading-lv1 {
  margin-top: 18px;
  width: 458px;
}
.hero .desc {
  margin-top: 46px;
  width: 374px;
  color: #9da6a5;
  line-height: 1.78; /* 177.778% */
}
.hero .ative {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero .play-button {
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 62px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .play-button:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.hero-img {
  position: relative;
}
.hero-img .img-words-learner {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero-img .course {
  position: absolute;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  left: -40px;
  top: 140px;
}

.hero-img .body-course {
  display: flex;
  padding: 17px 25px 18px;
  align-items: center;
}

.hero-img .img-icon-courses {
  position: relative;
  width: 36px;
  height: 40px;
  margin-right: 16px;
}
.hero-img .icon-course {
  position: absolute;
  left: 4px;
  bottom: 8px;
}
.hero .desc-info {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.hero-img .schedules {
  position: absolute;
  bottom: 48px;
  left: -65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-img .body-schedules {
  padding: 16px 25px 23px;
  background: #fff;
  text-align: center;
  width: 124px;
  height: 132px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero-img .body-schedules .bar {
  display: inline-block;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  position: relative;
  margin-top: 14px;
  text-align: left;
}
.hero-img .bar .bar-desc1 {
  display: inline-block;
  width: 39px;
  height: 6px;
  border-radius: 3px;
  background: #fb9899;
  position: absolute;
}
.hero-img .bar .bar-desc2 {
  display: inline-block;
  width: 51px;
  height: 6px;
  border-radius: 3px;
  background: #fb9899;
  position: absolute;
}
.hero-img .bar .bar-desc3 {
  display: inline-block;
  width: 33px;
  height: 6px;
  border-radius: 3px;
  background: #fb9899;
  position: absolute;
}
.hero-img .bar.bar1 {
  display: inline-block;
  width: 33px;
  height: 6px;
  border-radius: 3px;
  width: 26px;
  height: 6px;
}

.hero-img .active-student {
  position: absolute;
  bottom: 41px;
  right: 45px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero-img .body-student {
  padding: 17px 35px 17px;
}
.hero-img .avatar-student {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.hero-img .avatar {
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}
.hero-img .number-stu {
  display: inline-block;
  margin-left: -7px;
  width: 33px;
  height: 33px;
  background-color: var(--color-net);
  border-radius: 50%;
}
.hero-img .number-stu .desc-info {
  color: #fff;
  padding: 12px 6px;
  text-align: center;
}

/* =========== features ============ */
.features {
  margin-top: 70px;
}
.features .feature-body {
  max-width: 1024px;
  padding: 60px 0;
}
.features-top .title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 18px;
}

.features .heading-lv2 {
  width: 577px;
  line-height: 1.33;
  margin-bottom: 18px;
}
.features .desc {
  width: 590px;
  line-height: 30px;
}
.features .features-list-item {
  margin-top: 80px;
  margin-right: 146px;
  display: flex;
}
.features-list-item .title {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 26px;
  width: 160px;
}
.features-list-item .content {
  margin-top: 16px;
  color: #9da6a5;
  width: 168px;
  font-size: 1.6rem;
  line-height: 1.69; /* 168.75% */
}
.item-features.item2 {
  margin-left: 209px;
}
.item-features.item3 {
  margin-left: 200px;
}
.features-list-item .item-features:nth-of-type(n + 2) .content {
  width: 223px;
}

/* ============popular============== */
.populars {
  margin-top: 10px;
}
.populars .populars-body {
  padding: 60px 0;
}
.polular-top .title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 18px;
}
.polular-top .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}
.polular-top .desc.content {
  width: 525px;
  color: #767e7e;
  line-height: 1.78; /* 177.778% */
}
.polular-top .links {
  color: var(--color-net);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.popular-list {
  display: flex;
  justify-content: space-between;
}
.popular-list .content-block-item {
  position: relative;
  margin-top: 79px;
}
.popular-list .descb {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.65;
  background: #d0efed;
  object-fit: cover;
}
.popular-list .info-content {
  position: absolute;
  left: 17px;
  bottom: -124px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  padding: 28px 82px 29px 25px;
}
.popular-list .heading-lv2 {
  font-size: 2.2rem;
}
.popular-list .prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 6px;
  width: 88px;
  height: 33px;
}
.popular-list .prices .desc {
  font-size: 1.6rem;
}
.popular-list .desc.content {
  font-size: 1.4rem;
  height: 20px;
  width: 260px;
}
.popular-list .course-class-month {
  display: flex;
  margin: 18px 0 0 -10px;
}
.popular-list .course-class-month .desc::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-net);
  margin: 0 10px 0;
}

/* ============.countdown ==================== */
.countdown {
  margin-top: 140px;
  /* background-color: cyan; */
  padding: 65px 0;
}
.body-coutdown {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 862px;
  height: 131px;
  margin-left: 156px;
}
.body-coutdown .heading-lv1 {
  line-height: normal;
  margin-bottom: 11px;
}
